<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Media View</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
<header>
    <h1>Welcome to MediaView</h1>
</header>
<div class="container">
    <h2>Explore The World of TV Series</h2>
    <div class="buttons">
        <button onclick="window.location.href='/tv_rate'">Top 20 Rated</button>
        <button onclick="window.location.href='/popular'">Top 20 Popularity</button>
        <button onclick="window.location.href='/api/genres'">Genre</button>
        <form action="/logout" method="POST" style="display: inline;">
            <!-- Include CSRF Token for Security -->
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            <button type="submit">Log Out</button>
        </form>
    </div>
</div>
</body>
</html>
