<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script type="text/javascript">
        // Check if there is an error parameter in the URL and show an alert
        window.onload = function() {
            if (window.location.search.indexOf('error=true') !== -1) {
                alert("Invalid username or password");
            }
        }
    </script>
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
</div>
</body>
</html>

