<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 20 Popular TV Series</title>
    <link rel="stylesheet" th:href="@{/css/series.css}" />
</head>
<header>
    <h2>Top 20 Popular TV Series</h2>
    <button onclick="window.location.href='/home'">Back</button>
</header>
<body>
<section class="movie-list" th:each="series : ${popularSeries}">
    <div class="movie">
        <img th:src="'https://image.tmdb.org/t/p/w200/' + ${series.posterPath}" alt="TV Series Poster" class="movie-poster" />
        <div class="movie-info">
            <h3 th:text="${series.name}"></h3>
            <p class="rating">Popularity: <span th:text="${series.popularity}">0.0</span></p>
            <p th:text="${series.overview}"></p>
            <p>Origin Country: <span th:text="${#strings.replace(series.originCountry, '[', '').replace(']', '')}"></span></p>
        </div>
    </div>
</section>
</body>
</html>